{% extends 'sioreum/base.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'sioreum/css/main.css' %}">    
{% endblock %}

{% block content %}
<title>메인 페이지</title>
<div id="MainBan" class="pt-5">
    <a href="/"><img src="static/sioreum/img/mainban.png" alt="banner" style="width: 100%;"></a>
</div>

<div class="outContainer">
    <div class="mainBox">
        <h4 class="">당신의 공백은 무탈하신가요?</h4> <br/>
        <p class="text-left">
        공백(空白) <br />
        [명사] <br />
        1. 종이나 책 따위에서 글씨나 그림이 없는 빈 곳 <br />
        2. 아무것도 없이 비어 있음 <br />
        3. 특정한 활동이나 업적이 없이 비어 있음 <br />
        4. 어떤 일의 빈구석이나 빈틈 <br /> <br /> <br />
        
        
            싱그러운 초록으로 번져가는 계절 속 <br />
            일상은 당최 어떤 색으로 채워야 할지 모르겠습니다. <br />
            하얗게 빈 시간을 물끄러미 보다 보면  <br />
            문득 불안해지기도 <br />
            어쩐지 이대로가 마음에 들기도 합니다. <br />
            그럼에도 자꾸만 공백을 들춰보게 되는 건 <br />
            어디선가 비롯된 조급함 때문이겠지요. <br />
            사실 공백은 긍정의 말도 부정의 말도 아닌데 말입니다. <br /> <br />
            
            텅 빈 시간 속에서 <br />
            알록달록한 발자국을 남기고, <br />
            못다 한 말을 적어내며, <br />
            채움의 묘미를 알아가다가도 <br />
            비움이 그리워져 <br />
            새 종이를 펼쳐내는 우리의 모습. <br /> <br />
        
            이 열넷의 공백들을 한곳에 모았습니다.</p> 
        <a class="btn linkBtn" href="/poet">시화전 보러가기</a>
    </div>

    <div class="mainBox container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-sm-1">
            <div class="col">
                <h3 class="title">
                    詩오름이란? 
                </h3>
                <div class="drop">
                    <button class="btn" data-toggle="collapse" href="#c1" aria-expanded="false">
                        자세히 보기
                        <i class="arrow"></i>
                    </button>
                    <div class="collapse" id="c1">
                        <div class="m-2">
                            숙명여자대학교 한국어문학부 시 학회입니다. <br />
                            시를 읽고 시를 씁니다.<br />
                            시를 천천히 삼켜 생각의 타래를 늘이고 하나의 직물을 짭니다.<br />
                            시 한 편 한 편에 동한 마음이 모여 사유를 공유하고 있습니다.<br />
                        </div>          
                    </div>            
                </div>
            </div>                
            <div class="col">
                <h3 class="title">
                    시화전이란?
                </h3>
                <div class="drop">
                    <button class="btn" data-toggle="collapse" href="#c2" aria-expanded="false">
                        자세히 보기
                        <i class="arrow"></i>
                    </button>
                    <div class="collapse" id="c2">
                        <div class="m-2">
                            시오름의 학회원이 직접 쓴 시를 그림 혹은 사진과 함께 전시하는 전시회입니다. 
                                19년까지 숙명여자대학교에서 오프라인 전시를 했으나, 현재 코로나로 인해 온라인 전시회를 열게 되었습니다.
                        </div>          
                    </div>            
                </div>
            </div>
        </div>
    </div>

    <div class="mainBox">
        <p>시화전을 보신 이후에 방명록을 남겨보는 것은 어떨까요?
            발자취를 남겨 주시면 추첨을 통해 시오름 시 굿즈 선물을 드립니다.
        </p>
        <div class="">
            <div class="drop">
                <button class="btn" data-toggle="collapse" href="#c3" aria-expanded="false">
                    굿즈 자세히 보기
                    <i class="arrow"></i>
                </button>
                <div class="collapse py-3" id="c3">
                    <a href="static/sioreum/img/goods.png"><img src="static/sioreum/img/goods.png" alt="banner" style="width: 100%;"></a>         
                </div> 
            </div>
        </div>
        <a class="btn linkBtn" href="/visitor?page=1">발자취 남기러 가기</a>
    </div>
    <div class="mainBox">누적 방문자 수: <img src="https://www.cutercounter.com/hits.php?id=hxkqofx&nd=6&style=3" border="0" alt="hit counter"></div>
        
</div>
{% endblock %}
