{% extends 'sioreum/base.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'sioreum/css/poet.css' %}">
{% endblock %}

{% block content %}
<title>공백들 : 시화전 시 목록</title>
    <div class="mainban pt-5">
        <a href="/"><img src="static/sioreum/img/mainban.png" alt="banner"  style="width: 100%;"></a>
    </div>
    <div class="container my-5 box">
        <div class="row justify-content-center">
            {% for poet in poets %}
            <div class="text-center m-2" >
                <a href="{% url 'poetDetail' pk=poet.pk %}">
                    <div class="rounded img-thumbnail img-fluid float-left text-light p-1 mx-auto" 
                    style="background-image: url('{{ poet.thumbnail.url }}');">
                        <div class="backgrd">
                            <h3 class="pt-4 px-3">{{ poet.title }}</h3>
                            <div class="pt-2">{{ poet.author }}</div>
                        </div> 
                    </div> 
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="end"><br/></div>
{% endblock %}

