{% extends 'sioreum/base.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'sioreum/css/poet.css' %}">
{% endblock %}

{% block content %}
<title>시 자세히 보기</title>
<div class="mx-auto img-bg" 
    style="background-image: url('/static/sioreum/img{{ poet.backgroundImg.url }}');">
        {% if poet.text_color %}
            {% if poet.background %}
            <div class="m-5 backgrd2" >
            {% else %}
            <div class="m-5">
            {% endif %}
                <div class="m-4 py-4">
                    <h3 class="text-light text-center">{{ poet.title }}</h3>
                    <div class="text-light text-right">{{ poet.author }}</div> <br/>
                    <div class="text-light">{{ poet.text|linebreaksbr }}</div>
                </div>
            </div>
        {% else %}
            {% if poet.background %}
            <div class="m-5 backgrd3">
            {% else %}
            <div class="m-5">
            {% endif %}
                <div class="m-4 py-4">
                    <h3 class="text-dark text-center">{{ poet.title }}</h3>
                    <div class="text-dark text-right">{{ poet.author }}</div> <br/><br/>
                    <div class="text-dark">{{ poet.text|linebreaksbr }}</div>
                </div>
            </div>
        {% endif %}
</div>
{% endblock %}
