{% extends 'sioreum/base.html' %}

{% block content %}
<title>방명록</title>
{% comment %} <form action=""></form> {% endcomment %}
<div class="" style="margin: 100px 0;">
    <div class="row justify-content-center">
        {% for visit in visits %}
            <div class="m-3 p-3 card " style="background-color:#fff0f0;  
            height: 200px; width: 300px; ">
                <div class="overflow-auto" style="height: 120px;">{{ visit.text }}</div> <br/>
                <div class="row row-cols-2 px-3">
                    <div style="color: #973bff9a;">{{ visit.author }}</div>
                    <div class="text-right text-secondary">{{ visit.created_date|date:"y.m.d"}}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        {% if visits.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if visits.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="page-item disabled page-link text-dark"><span>&laquo;</span></li>
            {% endif %}
            {% for i in visits.paginator.page_range %}
                {% if visits.number == i %}
                    <li class="page-item active page-link black bg-light"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li class="page-item"><a class="page-link text-dark" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if visits.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="page-item disabled page-link text-dark"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>
 

 

<!-- TODO : put form  -->


{% endblock %}
