{% extends 'sioreum/base.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'sioreum/css/visitList.css' %}">
{% endblock %}

{% block content %}
<div class="mainbox">
    <title>방명록</title>
    <div class="row justify-content-center mb-3">
        <div class="info col-6 col-xl-5 p-3 ">방명록을 남겨주세요. <br/>
        전화번호를 남겨주신 분에 한하여 추첨을 통해 시오름 굿즈를 배송해 드립니다.
        <br/>입력하신 전화번호는 관리자 외에 열람 불가하며 굿즈 배송 후 폐기됩니다. 
        </div>

    </div>

    <div class="row justify-content-center visitContainer">
        {% if visits.number == 1 %}
            <div class="m-3 px-3 pt-3 pb-1 card">
                <textarea class="visitContent" name="" id="" rows="5" placeholder="내용을 적어주세요."></textarea>
                <input class="my-1 number" type="text" placeholder="전화번호 (010-0000-0000)">
                <div class="row row-cols-3 px-3 ">
                    <input class="my-1 author" type="text" placeholder="이름">
                    <img src="static/sioreum/img/flower.png" class="flower" alt="">
                    <button class="my-1 uploadBtn" type="submit">올리기</button>
                </div>
            </div>
        {% else %}        
        {% endif %}
        {% for visit in visits %}
            <div class="m-3 px-3 pt-3 card">
                <div class="overflow-auto visitText">{{ visit.text }}</div>
                <div class="row row-cols-3 px-3 mt-2">
                    <div class="mt-2 author">{{ visit.author }}</div>
                    <img src="static/sioreum/img/flower.png" class="flower" alt="">
                    <div class="mt-2 text-right text-secondary ">{{ visit.created_date|date:"y.m.d"}}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        {% if visits.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if visits.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ visits.previous_page_number }}">&lsaquo;</a></li>
            {% else %}
            <li class="page-item disabled page-link text-dark"><span>&laquo;</span></li>
            <li class="page-item disabled page-link text-dark"><span>&lsaquo;</span></li>
            {% endif %}
            {% for i in visits.paginator.page_range %}
                {% if visits.number == i %}
                    <li class="page-item active page-link black bg-blue"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li class="page-item"><a class="page-link text-dark" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if visits.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ visits.next_page_number }}">&rsaquo;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ visits.paginator.num_pages }}">&raquo;</a></li>
            {% else %}
            <li class="page-item disabled page-link text-dark"><span>&rsaquo;</span></li>
            <li class="page-item disabled page-link text-dark"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>

<script src="{% static 'sioreum/js/main.js' %}"></script>

{% endblock %}

