* {
    font-family: 'RIDIBatang';
}

pre {
    font-family: 'RIDIBatang';
}

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.outContainer {
    display: flex;
    flex-direction : column;
	justify-content : space-between;
	align-items : center;
}

.mainBox {
    border-color: #ffffff;
    border-style:solid;
    background-color: #FFFFF9;
    margin: 20px;
    border-radius: 10px;
    padding: 20px 60px;     
    text-align: center;
    min-width: 440px;
    max-width: 700px;
}

.linkBtn {
    background-color: #fff6f2;
    border-color: #ffcfbc;
    border-width: 3px;
    border-radius: 30px;
    border-style:solid;
    font-weight: 800;
    margin: 10px 15px;
    padding: 15px 0px;
    width: 280px;
    text-align: center;
    cursor:pointer;
}

.title {
    border-color: #92a8c9; border-style:solid;
    border-radius: 10px;
    background-color: white;
    padding: 4px 20px; 
    color: #92a8c9;
    overflow: hidden;
    margin: 5px;
}

.drop {
    border-color: #92a8c9; border-style:solid;
    border-radius: 10px;
    padding: 4px 10px; 
    color: black;
    overflow: hidden;
    margin: 5px;
}

.drop button {
    color: gray;
    width: 240px;
    background-color: white;
}