* {
    font-family: 'RIDIBatang';
}

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* poet list */
.box {
    max-width: 1000px;
}

.img-thumbnail {
    /* background-image: url('/static/sioreum/img{{ poet.thumbnail.url }}');  */
    width:160px; height:160px; background-size:cover;
}

.backgrd {
    background-color: rgba(0, 0, 0, 0.3); height:150px;
    /* padding: 0 5px; */
    opacity: 0; 
}

.backgrd:hover {
    transition: opacity 0.2s;
    opacity: 1;
}

.end {
    clear:both;   
}



/* poet detail */
.img-bg {
    width: 100%;  margin-top: 50px; 
    max-width: 500px; min-height: 650px;
    background-size:cover; padding:10px 0;
}

.backgrd2 {
    background-color: rgba(0, 0, 0, 0.2);
}

.backgrd3 {
    background-color: rgba(255, 255, 255, 0.3);
}