* {
    font-family: 'RIDIBatang';
}

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.mainbox {
    margin: 80px 0 0 0;
}

.info {
    border-color: #bcdfff;
    border-style:solid;
    border-radius: 10px;
}

.card {
    background-color:#fff5f5;  
            height: 200px; width: 300px;
}
    
.overflow-auto {
    height: 130px;
} 
    
.author {
    color: #973bff9a;
}

.flower {
    height:40px; width:30px; object-fit: contain;
}

.visitContent {
    resize:none; width: 30px; 
    overflow:hidden; overflow-wrap:break-word; overflow-y:scroll;
}

.page-item:last-child .page-link,
.page-item:first-child .page-link{
    border-radius: 50px;
}

.page-link {
    border-radius: 50px;
    width: 35px;
    height: 35px;
    margin: 0 2px;
}

.bg-blue {
    background-color: #dbe5ff;
}